@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-arabic {
  font-family: 'Amiri', serif;
}

.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}